<meta charset="UTF-8"/>
<div class="container">
  <h2>Cadastro de clientes</h2>
<form class="form-horizontal" novalidate name="frmCliente">

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Nome do
			Cliente</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="inputName" name="txtNome"
				placeholder="Nome" ng-model="cliente.nome" required/>
			<span ng-show="frmCliente.txtNome.$error.required && 
			frmCliente.txtNome.$dirty">Campo obrigatório.</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="inputLimte">Limite
			de crédito</label>
		<div class="col-sm-5">
			<div class="input-group">
				<div class="input-group-addon">R$</div>
				<input type="number" class="form-control" id="inputLimte" name="nmrLimite" placeholder="0.00" 
				ng-model="cliente.limiteCredito" min="0" required/>
			</div>
			<span ng-show="(frmCliente.nmrLimite.$error.required || frmCliente.nmrLimite.$error.number) && 
				frmCliente.nmrLimite.$dirty">Campo obrigatório</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="inputRisco">Risco</label>
		<div class="col-sm-5">
			<label class="radio-inline">
			 	<input type="radio" name="cbxRisco" ng-model="cliente.risco" value="A" ng-required="!cliente.risco"/>A
			</label> 
			<label class="radio-inline"> 
				<input type="radio" name="cbxRisco" ng-model="cliente.risco" value="B" ng-required="!cliente.risco"/>B
			</label> 
			<label class="radio-inline"> 
				<input type="radio" name="cbxRisco" ng-model="cliente.risco" value="C" ng-required="!cliente.risco"/>C
			</label>
		</div>
		<span ng-show="frmCliente.cbxRisco.$error.required && frmCliente.cbxRisco.$dirty">Campo obrigatório</span>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default"
				ng-click="salvarClientes()" ng-disabled="frmCliente.$invalid">Salvar</button>
		</div>
	</div>
</form>
</div>

