<meta charset="UTF-8"/>
<div class="container">
  <h2>Clientes cadastrados</h2>
         
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Limite de crédito</th>
        <th>Taxa de juros</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in clientes">
        <td>{{cliente.nome}}</td>
        <td>{{cliente.limiteCredito}}</td>
        <td><div ng-show="cliente.taxaJuros">{{cliente.taxaJuros}} %</div></td>
      </tr>
    </tbody>
  </table>
</div>